body{
	/*background-color: #F790F4;*/
	background-image:url("pinkstars.gif");
	color: 	black;
	font-family: courier new;


}


p{
	font-size: 20px;
}

img{
	height: 60%;
	width: 60%;
}

h1{
	font-family: courier new;
	font-size: 35px;
	color: #B80592;
	margin-top: :30px;
	margin-left:300px;
	margin-right:300px;
}
h2{
	font-family: courier new;
	font-size: 25px;
	color: #B80592;
	margin-top: :0px;
	margin-left:300px;
	margin-right:300px;
}

.myspace{
	color: black;
	font-family: courier new;
	color: #B80592;
	border-radius: 20%;
	font-size: 25px;
}

.paragraph{
	background-color: #F673EC;
	color: #8013BE;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
	/*width: 200px; */
	overflow: hidden;
	background-color:#F38CF8;
	position:fixed;
}
li{
	float:left;
}
li a {
	display:block;
	color:#B80592;
	text-align:center;
	padding:8px 16px;
	text-decoration: none;
}
li a:hover {
	background-color:white;
	color: black;
}
.active {
	background-color: white;
}
.paragraph{
	width:800px;
}

.button{
	background-color: green;
	color: white;
	border: none;
	padding: 15px 15px;
	text-align:center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}